In [21]:
import pandas as pd

df = pd.read_csv("tax_microdata_2021.csv.gz")

In [31]:
(df.c00100 > 0).sum() / 1e6

173.07107828276648

In [35]:
from microdf import MicroDataFrame
import numpy as np

df = MicroDataFrame(df, weights="s006")

variables = []
sums = []
nonzero_counts = []

for variable in df.columns:
    variables.append(variable)
    sums.append((df[variable].sum() / 1e9).round(1))
    nonzero_counts.append(((df[variable] > 0).sum() / 1e6).round(1))

summary_df = pd.DataFrame(
    {
        "Variable": variables,
        "Sum (bn)": sums,
        "Nonzero count (m)": nonzero_counts,
    }
)

summary_df

          Variable  Sum (bn)  Nonzero count (m)
0            index   12152.3              214.0
1            RECID  828073.8              214.0
2             MARS       0.4              214.0
3          e00200p    7492.2              140.0
4          e00200s    2440.5               51.3
..             ...       ...                ...
206     othertaxes      97.5               13.2
207            odc       0.0                0.4
208         c59660      48.9               27.1
209          f6251       0.0                0.0
210  codtc_limited      39.4               29.0

[211 rows x 3 columns]